body {
  #admin div.home{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: inherit !important;
  }
}