:root {
  --background: #46484a;
}
body {
  .actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    background: var(--background);
    color: white;
  }

  .admin {
    width: 85%;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--background);
    color: white;
  }
}

nav {
  background: var(--navbar-bg-color);
  color: #000000;
}