body {
  .form {
    width: 85%;
  }

  .error {
    position: absolute;
    width: 400px;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 600px) {
    .form {width: 400px;}
  }

  @media screen and (max-width: 400px) {
    .error {width: 300px;}
  }
}