body {
  .schedule {
    background: #494148;
    font-size: 1.2em;

    height: 160px;

    margin: 50px auto;
    border-radius: 50px;
  }

  .wrapper {
    width: 800px;
    height: 210px;

    margin: 0 auto;
  }

  .current {
    float: left;

    width: 300px;
    height: 160px;

    margin: 50px auto auto 100px;
  }

  .next {
    margin: 50px auto auto 10px;

    width: 300px;
    height: 160px;

    float: left;
  }

  .fa-users-class {
    margin-top: 10px;
    color: #38f204;
  }

  .nextsub {
    color: #5ac1f2;
  }
}