body {
  .schedule {
    background: #494148;

    height: 160px;

    margin-top: 80px;
    border-radius: 50px;
  }

  .wrapper {
    width: 1300px;
    height: 250px;
  }

  .current {
    margin-left: 80px;
    float: left;
  }

  .next {
    margin-left: 10px;
    float: left;

  }

  .fa-users-class {
    margin-top: 10px;
    color: #38f204;
  }

  .nextsub {
    color: #5ac1f2;
  }
}