:root {
  --background: #FFFFFF;
}

html, body {
  background: var(--background);
  color: white;

  font-family: 'Lato', sans-serif;

  width: 100%;
  height: 100%;

}

footer {
  color: #9c9890;
  padding-bottom: 10px;
}
