body {
  .common {
    font-family: Calibri, sans-serif;
  }

  .flex-container {
    width: 100%;
    height: 85%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .parent-flex {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
  }
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  position: absolute;
  bottom: 0;
}
