body {
  .exams {
    width: 400px;
    height: 30px;

    margin-top: 1.1em;

    align-self: center;
  }

  .exam-text {
    background: #a72e32;
    font-size: 1.7em;
    border-radius: 20px;
  }
}