body {
  .roomAnnouncements {
    width: 60%;
    height: 70px;

    font-size: 1.2em;

    text-align: center;
  }

  .room-ann-text {
    background: #4ea341;
    height: auto;
    border-radius: 20px;
  }

  .fa-bullhorn {
    color: #a73c2e;
  }

}