@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$font-size-base: 1.4rem;

@import "~bootstrap/scss/bootstrap.scss";

body {
  background: $dark;
  color: white;

  font-family: 'Lato', sans-serif;
}

.WidgetContainer {
  width: 100%;
  height: calc(100vh - 82px);

  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;


}

.Widget {
  .card {
    background: none;
    border: none;
  }

  &:not(.w-100.h-100) > .card {
    background: lighten($dark, 20);
  }
}