body {
  .announcements {
    width: 80%;
    height: auto;

    font-size: 1.4em;
    text-align: center;
  }

  .ann-text {
    background: #9e212b;
    height: auto;
    border-radius: 10px;
  }

  .fa-scroll {
    color: #ea6b5e;
  }
}